
<ul class="nav navbar-nav navbar-right">


    <li>@Html.ActionLink("Register", "Create", "Customer", null, null)</li>
    <li>@Html.ActionLink("Login", "CustomerLogin", "Login", null, null)</li>





</ul>
