@model CoffeeShop.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="main-content">
    <main>
        <div>
            <h4>Category</h4>
           
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name):&nbsp;@Html.DisplayFor(model => model.Name)
                </dt>

                

                <dt>
                    @Html.DisplayNameFor(model => model.Description):&nbsp;@Html.DisplayFor(model => model.Description)
                </dt>

               

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </main>

</div>